.form-container {
    margin: 4rem 6rem;
    color: #2a2a2a;
    text-align: center;
}

.form-container form {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}

.form-container input {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}

.form-container button {
    margin: 2rem 0;
    font-size: 2rem;
    background-color: rgba(26, 23, 23, 0.226);
}

.form-container button:hover {
    color: rgb(238, 238, 238);
    background-color: black;
}

@media screen and (max-width:850px) {
    .form-container {
        margin: 4rem 2rem;
    }

    .form-container form {
        padding-top: 1.5rem;
        width: 90%;
    }
}