.hero {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-mid {
    position: relative;
    width: 100%;
    height: 85%;
}

.hero-mid h1 {
    margin: 4rem 9rem;
}

.hero-mid .searchBar {
    display: none;
}

.hero-mid button {
    display: none;
}

.homeImg {
    width: 100%;
    height: 80%;
    max-height: 590px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    width: 55%;
    top: 40%;
    left: 25%;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    background-clip: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.hero-text p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.searchBar {
    width: 50%;
    height: 35px;
    font-size: 1rem;
    margin-left: 7.6rem;
    padding: 0 5px;
}

.hero-text button {
    padding: 4px 10px;
    width: 50px;
    font-size: 17px;
    font-weight: 200;
    background-color: #01959a;
    color: black;
}

.hero-text button:hover {
    background-color: #47a2a5;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media screen and (max-width:850px) {
    .hero-text {
        width: 62%;
        margin: 15px 0px 0px -50px;
    }

    .hero-text h1 {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }

    .hero-text p {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .searchBar {
        width: 60%;
        height: 35px;
        font-size: .8rem;
        margin-left: 3rem;
        padding: 0 2px;
    }

    .hero-text button {
        padding: 4px 10px;
        width: 50px;
        font-size: 17px;
        font-weight: 200;
        background-color: #01959a;
        color: black;
    }
}